{% extends 'store/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
   <div class="col-lg-6 offset-lg-3">
       <div class="box-element">
           <h3>You are Logged Out</h3>
           <hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
           </form>
           <hr>
           <div>
               <h6><small>Back to Login ?<a href="/login/">Sign In</a></small></h6>
           </div>
        </div>
   </div>
{% endblock content %}